<div class="clr-row">
    <div class="card">
        <h3 class="card-header">Loan Guru</h3>
        <div class="card-block">
            <form clrForm [formGroup]="askForm">
                <clr-input-container>
                    <label>Loan Purpose</label>
                    <input clrInput formControlName="loanPurpose" />
                </clr-input-container>
                <clr-input-container>
                    <label>Desired Amount</label>
                    <input clrInput formControlName="desiredAmount" />
                </clr-input-container>
                <clr-input-container>
                    <label>Monthly Income</label>
                    <input clrInput formControlName="monthlyIncome" />
                </clr-input-container>
                <clr-input-container>
                    <label>Employment Status</label>
                    <input clrInput formControlName="employmentStatus" />
                </clr-input-container>
                <clr-input-container>
                    <label>Existing Loans</label>
                    <input clrInput formControlName="existingLoans" />
                </clr-input-container>
                <clr-input-container>
                    <label>Repayment Period</label>
                    <input clrInput formControlName="repaymentPeriod" />
                </clr-input-container>
                <clr-input-container>
                    <label>Credit Score</label>
                    <input clrInput formControlName="creditScore" />
                </clr-input-container>
                <clr-input-container>
                    <label>Age</label>
                    <input clrInput formControlName="age" />
                </clr-input-container>
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" type="submit" (click)="submit()">Submit</button>
            <button class="btn" type="button" (click)="reset()">Reset</button>
        </div>
    </div>
</div>
<div class="clr-row">
    <div class="card">
        <h3 class="card-header">Suggestions</h3>
        <div class="spinner-group">
                <span class="spinner spinner-inline center-spinner" *ngIf="loading">
                    Loading...
                </span>
                <span class="center-loading" *ngIf="loading">
                    Loading...
                </span>
        </div>
        <div class="card-block">
            <markdown [data]="aiSuggestion"></markdown>
        </div>
    </div>
</div>