<nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="./loan-guru">Loan Guru</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="./insurance-guru">Insurance Guru</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="./investment-guru">Investment Guru</a>
        </li>
    </ul>
</nav>
<router-outlet />