<<<<<<< HEAD
.card-text{
    height: 250px;
    overflow-y: scroll;
}

.card-header{
    height: 60px;
=======
.card-text{
    height: 250px;
    overflow-y: scroll;
}

.card-header{
    height: 60px;
>>>>>>> origin/main
}