<header class="header header-6">
  <div class="branding" routerLink="/" style="cursor: pointer">
    <span class="title"><cds-icon shape="dollar-bill"></cds-icon>Dhan Vidya</span>
  </div>
  <div class="header-nav">
    <a routerLink="/ai-finance-guru" class="nav-link nav-text"> AI Finance Guru </a>
    <a routerLink="/learnings" class="nav-link nav-text"> Financial Literacy </a>
  </div>
  <div class="header-actions">
    <a routerLink="/login" class="nav-link nav-text"> Login / Sign Up</a>
    <a routerLink="/login" class="nav-link nav-text">
      <span class="title"><cds-icon shape="user"></cds-icon> </span>
      <!-- <span class="title"><cds-icon shape="login"></cds-icon> </span> -->
    </a>
  </div>
</header>
